* {
    box-sizing: border-box;
  }
  

/* body {
    font-family: Arial;
    font-family: 'Rubik Dirt', cursive;
    margin: 0;
} */

#logo{
    height: 50px;
    width: 55px;
    float: left;
    border-radius: 10px;
    box-shadow:  5px 5px 15px  orangered;
    border: 3px solid rgb(51, 255, 0);
    
}
#name{
    /* font-style: oblique; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Rubik Dirt', cursive; */
    color: rebeccapurple;
    float: left;
    text-shadow: 15px 15px 15px ;
}
#one{
    background-color: rgb(39, 244, 16);
}
h1{
    color: red;
    font-family: 'Rubik Dirt', cursive;
    text-align: center;
    text-decoration: underline;
    background-color: aquamarine;
    border:4px solid rgb(0, 255, 195);
}
marquee{
    margin: 0px;
    width: maxime;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color:white;
    font-size: 17px;
    font-style: italic;
    border: 3px solid blueviolet;
    border-radius: 5px;
    background-color: rgb(21, 164, 235);
}
.row-flex{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* background-color: rgb(207, 241, 16); */
}
.column{
    width: 300px;
    height: 90px;
}
#flex-item-1{
    float: left;
    width: 275px;
    height: 320px;
    padding: 10px;
    margin-left: 30px;
    margin-top: 30px;
    border:4px solid green;
    border-radius: 25px 25px 25px 25px;
    background-image: url('bgpic2.jpeg');
}
#flex-item-2{
    float: left;
    width: 275px;
    height: 310px;
    padding: 10px;
    margin-left: 30px;
    margin-top: 30px;
    border:4px solid brown;
    border-radius: 25px 25px 25px 25px;
    background-image: url('bgpic2.jpeg');
}
#flex-item-3{
    float: left;
    width: 275px;
    height: 320px;
    padding: 10px;
    margin-left: 30px;
    margin-top: 30px;
    border:4px solid aqua;
    border-radius: 25px 25px 25px 25px;
    background-image: url('bgpic2.jpeg');
}
#flex-item-4{
    float: left;
    width: 275px;
    height: 310px;
    padding: 10px;
    margin-left: 30px;
    margin-top: 30px;
    border:4px solid rgb(250, 145, 7);
    border-radius: 25px 25px 25px 25px;
    background-image: url('bgpic2.jpeg');
}
#flex-item-5{
    float: left;
    width: 275px;
    height: 310px;
    padding: 10px;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 0px;
    border:4px solid rgb(12, 174, 238);
    border-radius: 25px 25px 25px 25px;
    background-image: url('bgpic2.jpeg');
}



.d-flex bd-highlight {
    /* background-color: #0ecfec; */
    /* width: 10px;
    height: 50px; */
    flex:33.33%;
    margin-top: 100px;
    margin-left: 500px;
    padding: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.btn btn-warning{
    text-align: center;
    width: 50px;
    height: 50px;
}

#flex-item-2-2{
    width: 30.33%px;
    height: 250px;
    padding: 0px;
    margin-top: 120px;
    border:8px solid skyblue;
    border-radius: 15px;
}
/* #column1-1{
    width: 90px;
    height: 0px;
    color: orange;
    border: 50px;
    border-color: blue;
}
#btn1,#btn2,#btn3,#btn4,#btn5{
    color: white;
    text-align: center;
    font-style:oblique;
    font-size: 40px;
    background-image: linear-gradient(to bottom right,red,yellow);
    border: 4px solid blueviolet;
    border-radius: 20px;
} */




